// Generales

@media (min-width:1200px) {
	.container {
		min-width: 90% !important;
	}
}

.main {
	border: 1px solid #ddd;
}
// Formularios


label {
	margin-bottom: 0;
}

.fixed-price-right {
	right: auto;
}
